<footer>
  <hr>
  <!-- Contact link -->
  <!--<address>
    Contact me
  </address>-->
  
  <center>
  
  <img src="stock-market.png" alt="Footer logo" style="width:25px;height:25px;">
  
  <!-- Copyright footnote -->
  &copy; 2021 InvestNow Application.
  
  <!-- Footer links -->
  <nav>
	<a href="https://github.com/VictorNugraha">Github</a>
	<a href="https://www.linkedin.com/in/victor-nugraha-baa694160/">LinkedIn</a>
  </nav>
  
  <center>
</footer>
