<h1 style="text-align: center;"><u>Welcome To&nbsp;<strong>InvestNow</strong></h1></u>
<center>An interactive application for market timing analysis and suggestion in stock market.</center>
<hr />

