<html>
<body>
  
<img style="display: block; margin-left: auto; margin-right: auto;" src="stock-market-small.png" />
<h1 style="text-align: center;"><u>Welcome To&nbsp;<strong>InvestNow</strong></h1></u>
<center>An interactive application for market timing analysis and suggestion in Indonesia stock market.</center></p>
<hr />
<center><strong>What You Can Do With InvestNow:</strong></p></center>
<small><li>Find the right stocks to be invested in based on solid background foundation from each company.</li></small>
<small><li>Analyse stock price movement from simple yet interactive plot.</li></small>
<small><li>Get additional suggestions about stocks market timing that are strongly grounded based on the results of machine learning processing.</li></small>
<hr />
<small><p style="text-align: left;"><span style="color: #ff0000;"><strong>IMPORTANT:</strong> InvestNow is using real data from Yahoo Finance, but since it is free the data taken from Yahoo Finance is 1 day late from actual date. In addition, please refresh your browser if something untoward happens.</span></p></small>


</body>
</html>